*  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #111;
}

a {
  color: #333;
  text-decoration: none;
}

.headerStyle  {
  background: #222;
  color: white;
  padding: 1% 1%;
 
}

.linkStyle {
  color: #999;
  padding: 0,5%;
  font-size: 70%;
  margin-left: 3%;
}

.linkStyle:hover {
  color: white;
}

.container {
  padding: 0 0;
}

.containerPlayers {
  margin: -12% 30%;
  color: white;
  overflow-y: scroll; 
  max-height: 40rem;
  padding: 1%;
}

.stats {
  border: 1px solid #fff;
  border-radius: 8px 8px;
  padding: 1%;
  margin: 1%;

}

.containerPredictions {
  margin-top: -15%;
  padding: 0% 15%;
  color: white;
  display: flex;
  flex-wrap: wrap;
 
}

.containerPredicionsPart {
  margin-top: 7%;
  margin-left: 10%;
  flex: 1;
  padding: 5px;
}

.containerFinances {
  color: white;
  max-height: 40rem;
  margin: -10% 25%;
}

.containerPredictionsBox {
  display: block;
  padding: 2% 2%;
  border: 1px solid white;
  border-radius: 10px;
  color: #fff;
  margin-left: 1%;
  margin-right: 82%;
  margin-top: -5%;
}

.sidebarBox {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  background: #111;
  color: white;
  border: 1px solid white;
  border-radius: 10px 10px;
  margin-right: 82%;
  margin-top: 5%;
  margin-left: 1%;
  

}


.logo {
  height: 50px;
  width: 50px;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 35px;
  cursor: pointer;
} 
  

.btnP {
  display: inline-block;
  border: black;
  background: #444;
  color: #fff;
  text-align: center;
  padding: 7px 20px;
  cursor: pointer;
  margin-right: 8%;
  margin-bottom: 20%;
}

.btnTrade {
  align-self: flex-end;
  border: black;
  background: #444;
  color: #fff;
  text-align: center;
  box-sizing: 100%;
  cursor: pointer;
  float: right;
}


.btnP:hover {
  background: #666;
}

.btnTrade:hover {
  background:#666;
}
