*  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #222;
}

a {
  color: #333;
  text-decoration: none;
}

.loginStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 2%;
  background: #888;
  margin: 1% 39%;
  border-radius: 20px 20px;

}

.headerStyle  {
  background: #222;
  color: white;
  padding: 1% 1%;
 
}

.linkStyle {
  color: #999;
  padding: 0,5%;
  font-size: 70%;
  margin-left: 3%;
}

.linkStyle:hover {
  color: white;
}

.container {
  padding: 0 0;
}

.containerPlayers {
  margin: -150px 30%;
  color: white;
  padding: 1%;
}

.stats {
  border: 1px solid #fff;
  border-radius: 8px 8px;
  padding: 1%;
  margin: 1%;

}

.containerPredictions {
  margin-top: -15%;
  padding: 0% 15%;
  color: white;
  display: flex;
  flex-wrap: wrap;
 
}

.containerPredicionsPart {
  margin-top: 7%;
  margin-left: 8%;
  flex: 1;
  padding: 5px;
}

.containerFinances {
  color: white;
  max-height: 40rem;
  margin: -10% 25%;
}

.containerPredictionsBox {
  display: block;
  padding: 2%;
  border: 1px solid white;
  border-radius: 10px;
  color: #fff;
  margin-right: 1%;
  margin-top: -8%;
  float: right;
}

.sidebarBox {
  display: inline-block;
  flex-wrap: wrap;
  padding: 1%;
  background: #111;
  color: white;
  border: 1px solid white;
  border-radius: 10px 10px;
  margin-right: 83%;
  margin-top: 5%;
  margin-left: 1%;
  

}

.trend {
  color: #fff;
  padding: 5px;
  float: right;
}

.logo {
  height: 50px;
  width: 50px;
}

.mail {
  height: 20px;
  width: 20px;
}

.lock {
  height: 20px;
  width: 20px;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px 5px;
} 
  

.btnP {
  display: inline;
  border: black;
  background: #444;
  color: #fff;
  text-align: center;
  padding: 7px 20px;
  cursor: pointer;
  margin-right: 8%;
  margin-bottom: 20%;
  border-radius: 5px 5px;
}

.btnTrade {
  align-self: flex-end;
  border: black;
  background: #444;
  color: #fff;
  text-align: center;
  cursor: pointer;
  float: right;
  padding: 5px;
  border-radius: 5px 5px;
 
}


.btnP:hover {
  background: #666;
}

.btnTrade:hover {
  background:#666;
}

.btn:hover {
  background: green;
}

.btn:active {
  background: green;
}


.btnO:hover {
  background: red;
}
